load_module modules/ngx_http_dav_ext_module.so;

worker_processes 1;

events { worker_connections 1024; }

http {
    include       mime.types;
    default_type  application/octet-stream;
    sendfile      on;
    log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                    '$status $body_bytes_sent "$http_referer" '
                    '"$http_user_agent" "$http_x_forwarded_for"';

    server {
        listen       ${WEBDAV_PORT};
        server_name  _;

        # Autenticación básica
        auth_basic           "Restricted";
        auth_basic_user_file /etc/nginx/.htpasswd;

        # WebDAV
        location / {
            root /rclonedata;

            dav_methods           PUT DELETE MKCOL COPY MOVE;
            dav_ext_methods       PROPFIND OPTIONS;
            create_full_put_path  on;
            dav_access            user:rw group:rw all:r;

            # Listado (útil para pruebas)
            autoindex on;

            # Cabeceras útiles para clientes
            add_header Accept-Ranges bytes;
            default_type application/octet-stream;
        }

        # Logs
        error_log  /dev/stderr warn;
        access_log /dev/stdout main;
    }
}
